body{
  margin: 0;
}

#main{
  display: flex;
  height: 100vh;
}

#filter{
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: lavender;
  padding-left: auto;
  padding-right: auto;
}




#searchForm{
  margin-top: 20%;
}


#content{
  flex: 2;
  overflow-y: scroll;
  margin-left: 10px;
  margin-right: 10px;
}
#search-bar{
  margin-top: 70px;
  width: 50%;
}
#search-button{
  margin-top: 70px;
  border-color: rgb(63, 63, 215);;
  color: rgb(63, 63, 215);
}
#search-button:hover{
  color: white;
  background-color: rgb(63, 63, 215);
  cursor: pointer;
}

#search-button:hover,
#pfp-div:hover{
  cursor: pointer;
}

#logo-img,
#pfp-img{
  margin-top: 20px;
  width: 50px;
  margin-bottom: 10px;
}

a{
  margin-top: 20px;
  margin-bottom: 6px;
}


